@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
/* CHOOSE ONE OF THESE TO THEME MATERIAL
    @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
    @import "~@angular/material/prebuilt-themes/indigo-pink.css";
    @import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
    @import "~@angular/material/prebuilt-themes/purple-green.css";
*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.fixed-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%  !important;
}
  

/*
mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
}
*/

/*
mat-toolbar-row {
    justify-content: space-between;
}
*/