$color1: #b1c0c6;
$color2: #eeeeee;
$color3: #d3dde2;

svg{
  -webkit-animation: pop 0.4s ease-in;
  width:200px;
}



/*Animate cogs*/
#cog1, #cog2, #cog3{
  -webkit-animation:spin 4s linear infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-delay:0.6s;
}

#cog1 {fill:$color1;}

#cog2{
  -webkit-animation:spinback 4s linear infinite;
  -webkit-animation-delay:0.6s;
  fill:$color2;
}

#cog3 {fill:$color3;}

@-webkit-keyframes pop{
  0%{-webkit-transform: scale(0);}
  90%{-webkit-transform: scale(1.1);}
  100%{-webkit-transform: scale(1);}
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spinback { 
  100% { -webkit-transform: rotate(-360deg); }
}

body {//background-color:#eeeeee;
}

.error-container {
  text-align:center;
}
.animate-404 {
  margin:80px auto 0;
  border-radius:50%;
  overflow:hidden;  
  width:170px;
  height:170px;  
  position:relative;
  background-color:#f9f9f9;
  //border:1px solid #eeeeee;
  box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.1);

  svg {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-47%, -50%);
  }
}


.error-code {font-size:100px; color:$color1; line-height:1em;}
.error-desc {color:$color3;}